<!--This is the header for the page -- Welcoming the user to the page-->
<h1 class="text-4xl font-extrabold text-gray-800 dark:text-white text-center my-6">
    Notification Page:  <%= current_user.username %>
</h1>

<!--Flex wrap center aligning buttons on the page, clean hover animations and everything-->
<div class="flex flex-wrap justify-center space-x-2">
    <button class="inline-flex items-center bg-blue-500 hover:bg-blue-700 text-white font-bold text-lg py-3 px-6 rounded shadow-md transition duration-200 transform hover:scale-105" onclick="openCreatemodal()">Send Notification</button>
    <button class="inline-flex items-center bg-blue-500 hover:bg-blue-700 text-white font-bold text-lg py-3 px-6 rounded shadow-md transition duration-200 transform hover:scale-105" onclick="openDeletemodal()">Delete Notification</button>
    <button class="inline-flex items-center bg-blue-500 hover:bg-blue-700 text-white font-bold text-lg py-3 px-6 rounded shadow-md transition duration-200 transform hover:scale-105" onclick="openUpdateModal()">Update Notification</button>
</div>



<!--This is the main model for the create notification portion of the page-->
<div id="create-modal" tabindex="-1" aria-hidden="true" class="flex hidden overflow-y-auto fixed top-0 right-0 left-0 z-50 justify-center w-full md:inset-0 max-h-full items-center h-screen">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Create Notification
                </h3>
                <!--This section contains the button (X) in the top right corner of the model-->
                <button type="button" onclick="closeCreatemodal()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>


            <!-- The Juice of the modal - Creating a post request to create a new notification object in the db -->
            <form class="p-4 md:p-5" action="/admin/notifications" method="post">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <!--Notification Name Portion-->
                    <div class="col-span-2">
                        <label for="notif" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Notification Name</label>
                        <input type="text" name="notification[notif]" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Notification Name" required="">
                    </div>
                    <!--Notification Subject Portion-->
                    <div class="col-span-2">
                        <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Notification Subject</label>
                        <input type="text" name="notification[subject]" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Enter Subject Here" required="">
                    </div>
                    <!--Notification Date Created Portion-->
                    <div class="col-span-2 sm:col-span-1">
                        <label for="created_at" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Created At</label>
                        <input type="datetime" name="notification[created_at]" id="created_at" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="<%= DateTime.now %>" readonly="true" required="">
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label for="issuer" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Current Admin</label>
                        <input type="string" name="notification[issuer]" id="issuer" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="<%= current_user.username %>" readonly="true" required="">
                    </div>                    
                    <!--User Drop Down List Selection-->
                    <div class="col-span-2 sm:col-span-1">
                        <label for="user_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">User</label>
                        <select name="notification[user_id]" id="user_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option selected="">Select user</option>
                            <!--Users.each through the entire available users-->
                            <%= @users.each do |user| %>
                            <option value="<%= user.id %>"><%= user.username %></option>
                            <% end %>
                        </select>
                    </div>
                </div>
                <!--Submit button-->
                <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Add new Notification
                </button>
            </form>
        </div>
    </div>
</div> 


<!--This is the delete model for the page-->
<!-- This is the delete modal for the page -->
<div id="delete-modal" tabindex="-1" aria-hidden="true" class="hidden flex overflow-y-auto fixed top-0 right-0 left-0 z-50 justify-center w-full md:inset-0 max-h-full items-center h-screen">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-bold text-gray-900 dark:text-white">
                    Delete Notification
                </h3>
                <button type="button" onclick="closeDeletemodal()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form id="delete_form" class="p-4 md:p-5" method="post" onsubmit="deleteNotification(event)">
                <input type="hidden" name="_method" value="delete">
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <label for="notif_id" class="text-lg font-semibold block mb-2 text-gray-900 dark:text-white">Notification Name</label>
                        <select onchange="optionSelected(this.value)" name="notif" id="notif_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option selected="">Select Notification</option>
                            <%= @notifications.each do |notification| %>
                            <option value="<%= notification.id %>"><%= notification.notif %> - User_ID: <%= notification.user_id %> - Notification_ID: <%= notification.id %></option>
                            <% end %>
                        </select>
                    </div>
                    <div class="hidden" id="notification-details">
                        <h3 class="text-xl font-bold">
                            Notification Details
                        </h3>
                        <hr> <br>
                        <div class="col-span-2">
                            <p class="text-lg font-semibold">Notification Name</p>
                            <p id="name_delete" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Notification Name Value</p>
                        </div>
                        <div class="col-span-2">
                            <p class="text-lg font-semibold">Notification Subject</p>
                            <p id="subject_delete" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Notification Subject Value</p>
                        </div>
                        <div class="col-span-2">
                            <p class="text-lg font-semibold">Created At Date</p>
                            <p id="created_delete" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Notification Date Value</p>
                        </div>
                        <div class="col-span-2">
                            <p class="text-lg font-semibold">Updated At Date</p>
                            <p id="update_delete" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Notification Updated Date Value</p>
                        </div>
                        <p class="text-lg font-semibold">User Notification Was Sent To</p>
                        <p id="username_delete" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">User Name</p>
                    </div>
                </div>
                <% if @notifications.count > 0 %>
                <button type="submit" class="text-white inline-flex items-center bg-red-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Delete Notification
                </button>
                <% end %>
            </form>
        </div>
    </div>
</div>

<!--This is the main model for the create notification portion of the page-->
<div id="update-modal" tabindex="-1" aria-hidden="true" class="hidden flex overflow-y-auto fixed top-0 right-0 left-0 z-50 justify-center w-full md:inset-0 max-h-full items-center h-screen">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Update Notification
                </h3>
                <!--This section contains the button (X) in the top right corner of the model-->
                <button type="button" onclick="closeUpdatemodal()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>


            <!-- The Juice of the modal - Creating a post request to create a new notification object in the db -->
        <form id="update_form" class="p-4 md:p-5" action="/admin/notifications/" method="post">
            <input type="hidden" name="_method" value="put">                
                <div class="grid gap-4 mb-4 grid-cols-2">

                    <div class="col-span-2">
                        <label for="notif_id" class="text-lg font-semibold block mb-2 text-gray-900 dark:text-white">Notification to Update</label>
                        <select onchange="updateNotification(this.value)"name="notif" id="user_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option selected="">Select Notification</option>
                            <%= @notifications.each do |notification| %>
                            <option value="<%= notification.id %>"><%= notification.notif %> - User_ID: <%=notification.user_id%> - Notification_ID: <%=notification.id%></option>
                            <% end %>
                        </select>
                    </div>
                    <div id="hide-this">
                        <div class="col-span-2">
                            <label for="notification_ID" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">ID</label>
                            <input type="textarea" name="notification_ID" id="id_update" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Notification id" required="">
                        </div>
                        <!--Notification Name Portion-->
                        <div class="col-span-2">
                            <label for="notif" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Notification Name</label>
                            <input type="textarea" name="notification[notif]" id="notif_update" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Notification Name" required="">
                        </div>
                        <!--Notification Subject Portion-->
                        <div class="col-span-2">
                            <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Notification Subject</label>
                            <input type="text" name="notification[subject]" id="subject_update" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Enter Subject Here" required="">
                        </div>
                        <!--Notification Date Created Portion-->
                        <div class="col-span-2 sm:col-span-1">
                            <label for="created_at" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Created At</label>
                            <input type="datetime" name="notification[created_at]" id="created_at_update" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="" readonly="true" required="">
                        </div>
                        <div class="col-span-2 sm:col-span-1">
                            <label for="updated_at" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Updated At</label>
                            <input type="datetime" name="notification[updated_at]" id="updated_at_update" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="<%= DateTime.now %>" readonly="true" required="">
                        </div>
                        <!--User Drop Down List Selection-->
                        <div class="col-span-2">
                            <label for="user_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">User</label>
                            <select id="select-update" name="notification[user_id]" id="user_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                <option selected="">Select user</option>
                                <!--Users.each through the entire available users-->
                                <%= @users.each do |user| %>
                                <option value="<%= user.id %>" id="<%=user.id%>"><%= user.username %></option>
                                <% end %>
                            </select>
                        </div>
                    </div>
                    
                </div>
                <!--Submit button-->
                <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Add new Notification
                </button>
        </form>
        </div>
    </div>
</div> 



<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Subject
                </th>
                <th scope="col" class="px-6 py-3">
                    Date Created
                </th>
                <th scope="col" class="px-6 py-3">
                    Date Updated
                </th>
                <th scope="col" class="px-6 py-3">
                    Admin that Issued
                </th>
                <th scope="col" class="px-6 py-3">
                    Notification Read
                </th>
                <th scope="col" class="px-6 py-3">
                    User_ID
                </th>


            </tr>
        </thead>
        <tbody>
            <%@notifications.each do | notification| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row">
                    <%=notification.id%>
                </th>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                    <%=notification.notif%>
                </th>
                <td class="px-6 py-4">
                     <%=notification.subject%>
                </td>
                <td class="px-6 py-4">
                     <%=notification.created_at%>
                </td>
                <td class="px-6 py-4">
                    <%=notification.updated_at%>
                </td>
                <td class="px-6 py-4">
                    <%=notification.issuer%>
                </td>
                <td class="px-6 py-4">
                    <%=notification.status%>
                </td>
           
                <td class="px-6 py-4">
                    <%=notification.user_id%>
                </td>
                
            </tr>
            <%end%>
        </tbody>
    </table>
</div>



<!--Script portion of the site-->
<script>

    /*
      Function Name: closeCreateModal
      Function Purpose: Close the create model
      Author: Ethan Trebish
    */
    function closeCreatemodal() {
        // Grab the element "create model" and add the class "hidden"
        document.getElementById('create-modal').classList.add('hidden');
    }
    

    /*
      Function Name: openCreatemodal
      Function Purpose: Open the create model
      Author: Ethan Trebish
    */    
    function openCreatemodal() {
        // Grab the element "create model" and remove the class "hidden"
        document.getElementById('create-modal').classList.remove('hidden');
    }

     /*
      Function Name: closeDeletemodal
      Function Purpose: Close the create model
      Author: Ethan Trebish
    */   
    function closeDeletemodal() {
     // Grab the element "delete model" and add the class "hidden"
        document.getElementById('delete-modal').classList.add('hidden');
    }


    /*
      Function Name: openDeletemodal
      Function Purpose: Open the create model
      Author: Ethan Trebish
    */
    function openDeletemodal() {
         // Grab the element "delete model" and remove the class "hidden"
        document.getElementById('delete-modal').classList.remove('hidden');
    }

     /*
      Function Name: closeDeletemodal
      Function Purpose: Close the create model
      Author: Ethan Trebish
    */   
    function closeUpdatemodal() {
     // Grab the element "delete model" and add the class "hidden"
        document.getElementById('update-modal').classList.add('hidden');
    }


    /*
      Function Name: openDeletemodal
      Function Purpose: Open the create model
      Author: Ethan Trebish
    */
    function openUpdateModal() {
         // Grab the element "delete model" and remove the class "hidden"
        document.getElementById('update-modal').classList.remove('hidden');
    }


    /*
      Function Name: closeCreateModal
      Function Purpose: Close the create model
      Author: Ethan Trebish
    */
function optionSelected(option) {
    document.getElementById("notification-details").classList.remove('hidden');
    const notifications = <%= @notifications_json.html_safe %>;
    let currentNotification;

    for (notification of notifications) {
        if (notification["id"] == option) {
            currentNotification = notification;
        }
    }

    document.getElementById('name_delete').innerText = currentNotification["notif"];
    document.getElementById('subject_delete').innerText = currentNotification["subject"];
    document.getElementById('created_delete').innerText = currentNotification["created_at"];
    document.getElementById('update_delete').innerText = currentNotification["updated_at"];
    document.getElementById('username_delete').innerText = currentNotification["user_id"];

    const form = document.getElementById('delete_form');
    form.action = '/admin/notifications/' + currentNotification["id"];
}

function deleteNotification(event) {
    event.preventDefault();
    const form = document.getElementById('delete_form');

    fetch('/admin/notifications/' + document.getElementById('notif_id').value, {
        method: 'DELETE',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        }
    }).then(response => {
        if (response.ok) {
            location.reload();
        } else {
            alert('Deleting notifications');
            location.reload();
        }
    });
}

        /*
      Function Name: updateNotification
      Function Purpose: Update the entire notification form values
      Author: Ethan Trebish
    */
    function updateNotification(option) {
        if (option === "Select user") {
            // Update the value for the Notification Name
            document.getElementById('notif_update').value = ""

            // Update the value for the Notification Subject
            document.getElementById('subject_update').value = ""

            // Update the value for the Date Created
            document.getElementById('created_at_update').value = ""

            document.getElementById('updated_at_update').value = ""
            
            // Update the value for the User Name
            //document.getElementById('username_update').value = ""
            document.getElementById("notification-details").classList.add('hidden');
            document.getElementById("hide-this").classList.add('hidden');
        } else {

            // Grab the element "notification details" and remove the class "hidden"
            document.getElementById("notification-details").classList.remove('hidden');

            // Obtain the array's for users and notifications
            const users = <%= @users_json.html_safe %>
            const notifications = <%= @notifications_json.html_safe %>
            
            // Keep track of the other 
            let currentNotification;

            // Loop through the notifications
            for (notification of notifications) {
                // If the notification ID is matched to the passed in selection
                if (notification["id"] == option) {
                    // Assign it
                    currentNotification = notification
                }
            }

            // remove the hidden form attribute
            document.getElementById("hide-this").classList.remove('hidden');

            // Obtain the select statement
            const select = document.getElementById('select-update');

            let index_for_select = 0;
            console.log('the current option is ' + option);
            let userIDNotificationLevel = currentNotification["user_id"];
            let index = 0;
            for (let option of select.options) {
                if (userIDNotificationLevel == option.value){
                    break;
                }
                index++;
                console.log("The options' value is - "  + option.value)

            }
            select.value = index;
            console.log(index);
   
            const form = document.getElementById('update_form');
            form.action = '/admin/notifications/' + currentNotification["id"];

            document.getElementById('id_update').value = currentNotification["id"];

            // Update the value for the Notification Name
            document.getElementById('notif_update').value = currentNotification["notif"];

            // Update the value for the Notification Subject
            document.getElementById('subject_update').value = currentNotification["subject"];

            // Update the value for the Date Created
            document.getElementById('created_at_update').value = currentNotification["created_at"];

            document.getElementById('updated_at_update').value = currentNotification["updated_at"];

            let currentUserID = currentNotification["user_id"];

            
            // Update the value for the User Name
        //  document.getElementById('username_update').value = users[currentUserID]["username"];

        }
        
    }
</script>